<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证映射文件的命名空间和mapper接口的全类名保持一致-->
<mapper namespace="com.spzx.user.mapper.UserCollectMapper">

    <insert id="insert" parameterType="com.spzx.model.entity.webapp.UserCollect">
        INSERT INTO user_collect
            (create_time, update_time, is_deleted, user_id, sku_id)
        VALUES
            (
             #{createTime}, #{updateTime}, #{isDeleted}, #{userId}, #{skuId}
             )
    </insert>

    <delete id="delete">
        delete from user_collect where user_id = #{userId} and sku_id = #{skuId}
    </delete>

    <select id="selectBySkuId" resultType="com.spzx.model.entity.webapp.UserCollect">
        select user_id, sku_id
        from user_collect
        where is_deleted = 0 and user_id = #{userId} and sku_id = #{skuId}
    </select>

    <select id="select" resultType="com.spzx.model.entity.webapp.UserCollect">
        select user_id, sku_id
        from user_collect
        where is_deleted = 0 and user_id = #{userId}
        order by id desc
    </select>

</mapper>
